{% extends 'base2.html' %}
{% block title %}Kids Fashion Website | Change Password {% endblock %}
{% block form %}
<form action="/change_password" method="post">
    <a href="/"><img src="/static/img/global/logo.png" alt="...."></a>
    
    <h1>Change Password</h1>
    <p class="text">Login to purchase good quality clothes from kids fashion website </p>
    <p class="red" style="color: red;">{{ msg }}</p>
    <!-- Username -->
    <input type="text" name="username" id="" placeholder="Username" required>
    <i class="fa-solid fa-user"></i>
    <br>

    <!-- New Password -->
    <input type="password" name="new_password" id="password" placeholder="New Password" required>
    <i class="fa-solid fa-lock" id="togglePassword"></i>
    <br>

    <!-- Confirm Password -->
    <input type="password" name="confirm_password" id="password" placeholder="Confirm Password" required>
    <i class="fa-solid fa-lock" id="togglePassword"></i>
    <br>

    <!-- Submit Button -->
    <input type="submit" value="Change Password">
    <p class="question">Have you changed password?<a href="/login"> Login</a></p>
</form>
{% endblock %}