{% extends 'base.html' %}
{% block title%}Kids Fashion Website | Checkout {% endblock %}
{% block content%}
<section class="cart">
    <div class="container">
        {% if 'cart_item' in session %}
        <table class="table table-hover" id="myTable">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th class="text-center">Unit Price</th>
                    <th class="text-center">Total Price</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for key, val in session['cart_item'].items() %}
                {% set quantity = session['cart_item'][key]['quantity'] %}
                {% set price = session['cart_item'][key]['price'] %}
                {% set item_price = session['cart_item'][key]['total_price'] %}
                <tr>
                    <td class="col-sm-8 col-md-6">
                        <div class="media">
                            <a href="#" class="thumbnail pull-left"> <img class = "media-object" src="/static/img/products/{{ session['cart_item'][key]['image'] }}" style="width:150px; height:150px;"> </a>
                            <br>
                            <br>    
                            <h4 class="media-heading" style="font-size: 15px;">{{ session['cart_item'][key]['name'] }}</h4>
                        </div>
                    </td>
                    <td class="col-sm-1 col-md-1" style="text-align: center;">
                        {{ quantity }}
                    </td>
                    <td class="col-sm-1 col-md-1 text-center">{{ price }}</td>
                    <td class="col-sm-1 col-md-1 text-center">{{ item_price }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
        <br>
        {% else: %}
        <div class="class"><h3 style="text-align:center;">Cart is empty</h3></div>
        {% endif %}
    </div>
</section>
{% endblock %}