{% extends 'base.html' %}
{% block title%}Kids Fashion Website | Explore {% endblock %}
{% block content%}
<section class="about">
    <h1>About</h1>
    <p>Kid's fashion website is a site that sells quality kids clothes.
        This company started way back in february 2023 and has the goal and aim of improving the fashion of kids nowadays
    </p>
    <p>Due to customers who wish to get other brands, see <a href="/brands">brands page</a> we are affiliated with some popular brands
    like nike, adidas, dior e.t.c. This allows us to directly sell their products.</p>
    <br>
    <br>
    <br>
    <br>
    <h1>This page is still under construction!</h1>
</section>
{% endblock %}
