
{% extends 'base.html' %}
{% block title%}Kids Fashion Website | Home {% endblock %}

{% block content %}
<section class="image_section">
  <div class="image">
   <h1> <span class="white">Best Kids</span> <span class="orangered">Fashion Store</span> </h1>
   <p>Kids Fashion Shop is a nigerian store that deals strictly in quality kids wears</p>
   <button type="submit">Explore &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/explore" class="icon"><i class="fa-solid fa-arrow-right-long"></i></a></button>
  </div>
</section>

<section class="section">
  <h1>What are you buying?</h1>
  <div class="grid-container">
    <div class="item1">
     
      <button>Top &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/top" class="icon"><i class="fa-solid fa-arrow-right-long"></i></a></button>
    </div>
    <div class="item2">
      
      <button>Bottom &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/bottom" class="icon"><i class="fa-solid fa-arrow-right-long"></i></a></button>
    </div>
    <div class="item3">
      
      <button>Underwears &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/underwears" class="icon"><i class="fa-solid fa-arrow-right-long"></i></a></button>
    </div>  
  </div>
</section>

<section class="fixed">
  <h1>THE FUTURE IS HERE</h1>
</section>

<section class="trend">
      <h1 class="text">TRENDING COLLECTIONS&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right-long"></i></h1>
      <p class="new">Swipe right to see more items</p>
      <div class="container-scroller">
      {% for item in trend %}
      <div class="click">
        <a href="{{ url_for('.single_product', product=item.NAME)}}"><img src="/static/img/products/{{ item.IMAGE }}" class="view"></a>
          <h6>{{ item.NAME }}</h6>
          <a href="{{ url_for('.single_product', product=item.NAME)}}"><p class="view"> PURCHASE</p></a>
      </div>
      {% endfor %}
      </div>
</section>

{% endblock %}
