{% extends 'base.html' %}
{% block title%}Kids Fashion Website | Proceed {% endblock %}
{% block content%}


{% if 'loggedin' in session %}
{% if total == 0 %}
<img src="/static/img/global/empty-cart.gif" alt="" srcset="">
{% endif %}
{% if total > 0 %}
<section id="empty" class="container">
    <button type="submit" class="button" id="button"><a href="/cart"><i class="bi bi-arrow-left"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BACK TO CART</button>
</section>

<section id="cart-container" class="container my-5">
    <table width="100%" id="myTable">
        <thead>
            <tr>
                <td>Image</td>
                <td>Price (₦)</td>
                <td>Product</td>
                <td>Quantity</td>
                <td>Total (₦)</td>
            </tr>
        </thead>
        <tbody>
            {% for item in product %}
            <tr>
                <td><a href="{{ url_for('.single_product', product=item.NAME)}}"><img src="/static/img/products/{{ item.IMAGE }}" alt=""></a></td>
                <td id="price">{{ item.PRICE }}</td>
                <td><a href="{{ url_for('.single_product', product=item.NAME)}}">{{ item.NAME }}</a></td>
                <td>{{ item.QUANTITY }}</td>
                <td>{{ item.TOTAL_PRICE }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>

<section class="container" id="cart-bottom">
    <div class="row">
        <div class="coupon col-lg-6 col-md-6 col-12 mb-4">
            <div>
                <h5>COUPON</h5>
                <p>Enter your coupon if you have one.</p>
                <input type="text" name="" id="" placeholder="Coupon Code">
                <button type="submit" class="button">APPLY COUPON &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=""><i class="fa-solid fa-arrow-right-long"></i></a></button>
            </div>
        </div>
        <div class="total col-lg-6 col-md-6 col-12">
            <div>
                <h5>CART TOTAL</h5>
                <div class="d-flex justify-content-between"> 
                    <h6>Subtotal</h6>
                    <p>₦{{ total_price }}</p>
                </div>
                <div class="d-flex justify-content-between"> 
                    <h6>Shipping</h6>
                    <p>₦{{ session['shipping'] }}</p>
                </div>
                <hr class="second-hr">
                <div class="d-flex justify-content-between"> 
                    <h6>Total</h6>
                    <p>₦{{ session['total'] }}</p>
                </div>
                
                <form action="/checkout" method="post">
                    {% for item in product %}
                    <input type="hidden" name="image" value="{{ item.IMAGE }}">
                    <input type="hidden" name="price" value="{{ item.PRICE }}">
                    <input type="hidden" name="name" value="{{ item.NAME }}">
                    <input type="hidden" name="quantity" value="{{ item.QUANTITY }}">
                    <input type="hidden" name="code" value="{{ item.CODE }}">
                    <br>
                    {% endfor %}
                    <input type="submit" class="button" value="CHECKOUT">
                </form>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% else %}
<img src="/static/img/global/empty-cart.gif" alt="" srcset="">
{% endif %}
{% endblock %}