{% extends 'base.html' %}
{% block title%}Kids Fashion Website | Underwear {% endblock %}
{% block content %}

<section class="product-carousel" id="underwears">
  <div class="carou">
    <h1>Kids underwears</h1>
   <button type="submit">Explore &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/explore" class="icon"><i class="fa-solid fa-arrow-right-long"></i></a></button>
  </div>
</section>

<h1 class="text-center">OUR PRODUCTS</h1>
<div class="product-container">
  <div class="row">
      {% for item in underwears %}
      <div class="col-4">
        <div class="click">
          <a href="{{ url_for('.single_product', product=item.NAME)}}"><img src="/static/img/products/{{ item.IMAGE }}" class="view"></a>
            <h6>{{ item.NAME }}</h6>
            <a href="{{ url_for('.single_product', product=item.NAME)}}"><p class="view"> PURCHASE</p></a>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}